* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
    border: 1px solid #ececec;
    background-color: #ffffff;
}

.header-flex {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    /* Style for "BRAND" */
    color: #222222;
    font-size: 27px;
    font-weight: 300;
    text-transform: uppercase;
    /* Text style for "BRAN" */
    font-weight: 300;
    letter-spacing: 0.68px;
    text-decoration: none;
}

.letter {
    color: #f16d7f;
    font-weight: 900;
    letter-spacing: 0.68px;
}

.browse::after {
    content: '\23F7';
    padding-left: 0.3em;
    padding-bottom: 3px;
    font-size: 14px;
    color: #838383;
}

.browse {
    color: #222222;
    font-size: 14px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.35px;
    width: 85px;
    height: 38px;
    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    background-color: #cdcdcc;
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
}

input[type="text"] {
    /* Style for "Rounded Re" */
    width: 250px;
    height: 38px;
    padding-left: 10px;
    padding-right: 38px;
    margin-left: -1px;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
}

.fas {
    color: #a4a4a4;
    font-size: 14px;
    padding: 12px;
    margin: -1px;
    border-radius: 0 3px 3px 0;
    background-color: #ffffff;
}

button {
    margin: -1px;
    color: #a4a4a4;
    border-radius: 0 3px 3px 0;
}

.header__left,
.header__form,
.logo {
    display: flex;
    align-items: center;
}

.header__form {
    margin-left: 37px;
}

.header__right {
    display: flex;
    align-items: center;
}

.logo__img {
    margin-right: 13px;
}

.header__cart {
    margin-right: 26px;
}

.button {
    background-color: #f16d7f;
    color: #ffffff;
    padding-left: 19px;
    padding-right: 12px;
    font-size: 15px;
    font-weight: 400;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.38px;
    text-decoration: none;
}

.button::after {
    content: '\23F7';
    padding-left: 0.3em;
    padding-bottom: 3px;
    font-size: 14px;
    color: #fff;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.menu__link {
    padding: 20px;
    display: block;
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.promo {
    background-color: #e8e8e8;
}

.promo-content {
    height: 614px;
    background-image: url(img/promo_back.jpg);
    background-position: 0 -51px;
    display: flex;
    align-items: center;
}

.promo__text {
    border-left: 12px solid #f16d7f;
    padding-left: 20px;
}

.promo__h2 {
    color: #222222;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 60px;
    letter-spacing: 1.5px;
    line-height: 45px;
}

.promo__h3 {
    color: #222222;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    line-height: 32px;
    margin-top: 15px;
}

.hot {
    padding-top: 98px;
}

.hot-flex {
    display: flex;
    height: 823px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hot-content-1 {
    position: relative;
    width: 560px;
    height: 542px;
    background-image: url(img/Layer_30.png);
    margin-bottom: 20px;
}

.hot-content-2 {
    position: relative;
    width: 560px;
    height: 240px;
    background-image: url(img/Layer_29.png);
}

.hot-content-3 {
    position: relative;
    width: 560px;
    height: 240px;
    background-image: url(img/Layer_32.png);
    margin-bottom: 20px;
}

.hot-content-4 {
    position: relative;
    width: 560px;
    height: 542px;
    background-image: url(img/Layer_31.png);
}

.hot-text {
    position: absolute;
    top: 30px;
    left: 0;
    padding: 10px;
    background-color: #fff;
    text-transform: uppercase;
}

.hot-product-h2 {
    color: #f16d7f;
    font-weight: 900;
    color: #f16d7f;
    font-size: 30px;
    letter-spacing: 0.75px;
}

.hot-product-h4 {
    color: #222222;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.45px;
}

.fetured {
    margin-top: 100px;
    margin-bottom: 20px;
}

.fetured h3 {
    color: #222222;
    font-size: 30px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0.75px;
    display: flex;
    justify-content: center;
}

.fetured p {
    color: #9f9f9f;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
    display: flex;
    justify-content: center;
}

.products__product {
    margin-top: 40px;
    position: relative;
}

.products__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product__item {
    color: #222222;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 13px;
}

.product__price {
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 13px;
}

.button__all {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0.4px;
    background-color: #f16d7f;
    padding: 10px 25px 10px 25px;
    text-decoration: none;
}

.button__all::after {
    content: '\279E';
    padding-left: 0.3em;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
}

.browse__flex {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.products__product:hover .add__to {
    visibility: visible;
}

.add__to:hover {
    box-shadow: 0 0 5px #fff;
    transform: scale(1.2);
}

.add__to {
    width: 123px;
    height: 39px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    position: absolute;
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    left: 70px;
    top: 98px;
}

.layer_2:hover {
    opacity: 0.7;
    transform: scale(1.05);
}

