
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
    border: 1px solid #ececec;
    background-color: #ffffff;
}

.header-flex {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.browse::after {
    content: '\25BC';
    padding-left: 0.5em;
    font-size: 10px;
}

.browse {
    /* Style for "Browse" */
color: #222222;
font-size: 14px;
font-weight: 300;
/* Text style for "B, rowse" */
letter-spacing: 0.35px;
    /* Style for "Rounded Re" */
border-radius: 3px 0 0 3px;
border: 1px solid #e6e6e6;
background-color: #cdcdcc;
background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
}

.header__left,
.header__form,
.logo {
    display: flex;
    align-items: center;
 }  

.logo {
/* Style for "BRAND" */
color: #222222;
font-size: 27px;
font-weight: 300;
text-transform: uppercase;
/* Text style for "BRAN" */
font-weight: 300;
letter-spacing: 0.68px;
 } 

.letter {
color: #f16d7f;
font-weight: 400;
letter-spacing: 0.68px;
 } 

.header__form {
    margin-left: 37px;
}

.header__right {
    display: flex;
    align-items: center;
}

.logo__img {
    margin-right: 13px;
}

.header__cart {
    margin-right: 26px;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.menu__link {
    padding: 20px;
    display: block;
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.promo {
    background-color: #e8e8e8;
}

.promo-content {
    height: 614px;
    background-image: url(img/promo_back.jpg);
    background-position: 0 -51px;
    display: flex;
    align-items: center;
}

.promo__text {
   border-left: 12px solid #f16d7f; 
    padding-left: 20px;
}

.promo__h2 {
color: #222222;
font-weight: 700;
text-transform: uppercase;
font-size: 60px;
letter-spacing: 1.5px;
line-height: 45px;
}

.promo__h3 {
color: #222222;
font-size: 40px;
font-weight: 700;
text-transform: uppercase;
line-height: 32px;
margin-top: 15px;
}
